<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coole Seite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-image: url(https://getbg.net/upload/full/www.GetBg.net_Backgrounds_The_rapid_rotation_of_the_light_100128_.jpg)">
<center>
<font color="white" size="7">
<p th:text="'Hallo, ' + ${name} + '!'" />
</font>


    <a style="text-decoration:none" href="/twaddle/user/add"><font color="#32cd32" size="6">Registrieren</font></a>
    <br></br>
    <br></br>
    <a style="text-decoration:none" href="/twaddle/posten"><font color="#32cd32" size="6">Nachricht schreiben</font></a>
</center>
</body>
</html>